.PosicionaIcone{
    letter-spacing: 10px;
    display:absolute;
    justify-content: left;
    align-items: left;
    margin-left: 600px;
    margin-bottom: 100px;


}
.centralizaContainer{
    margin-top:   150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
} 
.input-email {
    width: 100%;
    height: 15px;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
  }
  .tituloSenha{
    margin-top: 20px;
    color: black;
  }
  .botao {
    border-spacing: 10px;
    width: 10%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    background-color:#ffc800;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 400px;
    margin-top: 20px;
}
   
.icone{
      
    max-width:  300px;
    max-height:200px;
    width: auto;
    height: auto;    



}
.Global{
    margin-bottom: 350px;
 
 
 
 }


.container {
    margin-bottom: 60px;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    
    
    align-content: center;
}

.top {
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
  }  
  .botao:hover {
    background-color: hsl(59, 82%, 48%);
  }