.PosicionaIcone{
    letter-spacing: 10px;
    display:absolute;
    justify-content: left;
    align-items: left;
    margin-left: 600px;
    margin-bottom: 300px;


}
.icone{
      
    max-width:  300px;
    max-height:200px;
    width: auto;
    height: auto;    



}
.container {
    
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 200px;
    display: absolute;
    margin-top: -150px;
}

  
  input {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

 
  button {
    width: 40%;
    padding: 10px;
    background-color: #ffc800;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin-left:200px ;
  }

  button:hover {
    background-color: #e0b000;
  }