/* GLOBAL STYLE */

body{

    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

.nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffde59;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3%;


}


.nav-right{

    display:flex;
    flex-direction: column;
    align-items: flex-end;

}

.conect-bar{

    display: flex;
    align-items: center;

}

.search-bar{

    display: flex;
    align-items: center;

}

ul {

    display: flex;
    list-style-type: none;
    gap: 100px;
    margin-left: 30%;

}

ul a{

    text-decoration: none;
    color: black;

}

ul a:hover{

    color: white;  

}

#link-conect{

    text-decoration: none;
    color: black;

}

#link-conect:hover{

    color: white;

}

footer{

    justify-content: left;
    background-color: #ffde59;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: 1;
    text-align:left;
}

#login-photo{

    max-width: 20px;
    max-height: 20px;


}

#img-foot{

    max-width: 20px;
    max-height: 20px;

}

#logo-c{

    width: 15%;
    position: absolute;


}

#search-photo{

    width: 20px;
    height: 20px;

}



/* ----------------------------------------------------------------------------------------------------*/